In [2]:
import pandas as pd

df_raw = pd.read_excel('originals/Raw international financial data_FY22-25.xlsx', sheet_name='FY25 Mar Est - Europe (2)')

In [3]:
df_raw

,Europe,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,FY 2025 March Estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,6.175732,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,NaN,Germany - S51 Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,0,5,0,0,5,5,NaN,NaN
518,Dept. 195 - Reimbursements,Spain,NaN,SST,NaN,NaN,Europe,Europe,USD,NaN,...,5,NaN,0,5,0,0,5,5,Yes,NaN
519,NaN,Spain Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5,NaN,0,5,0,0,5,5,NaN,NaN
520,Dept. 195 - Reimbursements Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10,NaN,0,10,0,0,10,10,NaN,NaN
521,Grand Total,NaN,143,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3754,NaN,-27,1368,3735,3170,19,584,NaN,NaN